html {
    height: 100%;
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color:beige;
}

.top-bar{
    color: white; 
    background: black; 
    height: 10rem; 
    text-align: center;
    width: 100%;
    font-size: 4rem;
    display: inline-block;

}

.top-bar span {
    position: relative;
    top: 25%
}

.table-area{
    padding-top: 2rem;
}

#form-add {
    display: none;
}

table {
    width: 100%;
    margin-bottom: 0.8rem;
}

table, th, td {
    border-collapse: collapse;
}

th {
    background-color: gainsboro;
    text-transform: uppercase;
}

th {
    font-weight: bold;
    font-size: 20px;
}

th, td {
    text-align: center;
}

td{
    background: white;
}

input[type="button"] {
    min-height: 0.8rem;
    border-radius: 2px;
    font-weight: bold;
}

input[type="text"] {
    border-radius: 10px;
    height: 40px;
}

.f-right{
    float: right;
}

caption{
    font-size: 24px;
}

label {
    font-weight: 900;
}

.content-area {
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

button {
    border-radius: 4px;
    background-color: #008CBA;
    color:white;
    border: none;
    font-size: 16px;
    text-decoration: none;
    height: 3rem;
}

ul li {
    list-style-type:none;
    display: inline;
    margin: 5px;
}

fieldset {
    border: 0;
}